<header id="header">
    <div class="container flex">
    <div class="branding flex">
      <div class="brand">
        <a href="/" class="flex">
          <div class="logo"><img src="/public/imgs/logo.png" alt="" /></div>
          <h2>SrongVest</h2></a>
      </div>
      <div class="nav">
        <ul>
          <li><a href="">Trade</a></li>
          <li><a href="">Apply to List</a></li>
          <li><a href="">Referral</a></li>
        </ul>
      </div>
    </div>
    <div class="nav">
      <li>
        <a href=""
          ><i class="far fa-question-circle fa-1x"></i> Help
          <i class="fas fa-angle-down fa-1x"></i
        ></a>
      </li>
      <li>
        <a href=""
          ><i class="fas fa-info-circle fa-1x"></i> More
          <i class="fas fa-angle-down fa-1x"></i
        ></a>
      </li>
      <!-- <li><a href="users/register">Sign up</a></li>
      <li><a href="users/login">Login</a></li> -->
    </div>
  </div>
</header>