<header id="header">
  <div class="container flex">
    <div class="branding flex">
      <div class="brand">
        <a href="/" class="flex">
          {{! <div class="logo"><img src="/public/imgs/logo.png" alt="" /></div> }}
          <h1>SrongVest</h1></a>
      </div>
      <div class="nav">
      </div>
    </div>
    <div class="nav">
      <li>
        <a href="/users/logout">Logout</a>
      </li>
    </div>
  </div>
</header>