<header class="header" data-header>
  <div class="container">
    <h1>
      <a href="#" class="logo">SrongVest</a>
    </h1>
    <button
      class="menu-toggle-btn icon-box"
      data-menu-toggle-btn
      aria-label="Toggle Menu"
    >
      <span class="material-symbols-rounded icon">menu</span>
    </button>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li>
            <a href="/users/dashboard" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">grid_view</span>

              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/users/fund" class="navbar-link active icon-box">
              <span class="material-symbols-rounded icon">folder</span>

              <span>Fund</span>
            </a>
          </li>
          <li>
            <a href="/users/withdraw" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">list</span>

              <span>Withdraw</span>
            </a>
          </li>
          <li>
            <a href="/users/referral" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">bar_chart</span>

              <span>Referral</span>
            </a>
          </li>
          <li>
            <a href="/users/profile" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">settings</span>

              <span>Profile</span>
            </a>
          </li>

          <li>
            <a href="/users/setting" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">settings</span>

              <span>Settings</span>
            </a>
          </li>

        </ul>

        <ul class="user-action-list">

          <li>
            <a href="#" class="header-profile">
              <div>
                <p class="profile-title">Alexander</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/users/logout" class="header-profile">
              <div>
                <p class="profile-title">logout</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<main>
  <article class="container article">

    <!-- 
        - #TASKS
      -->

    <section class="tasks">

      <div class="section-title-wrapper">
        <h2 class="section-title">Fund</h2>
      </div>
      <ul class="class-list">
        <li class="task-item">
          <div class="card">
            <label for="task-1" class="task-label">
              Make Instant Payment
            </label>
            <br />
            <br />
            <p>Other payment option are available on request only, contact us if
              you have to pay using Payeer or Perfect money.
              info@whales-investment.com</p>
            <br />
            <br />
            <form class="fund-form" action="">
              <div class="form-control">
                <input type="text" value="plan" readonly />
              </div>
              <div class="form-control">
                <input type="text" value="amount" readonly />
              </div>
              <div class="form-control">
                <input
                  type="text"
                  placeholder="Enter your payment address for verification"
                />
              </div>
              <button class="user-button">Proceed with payment</button>
            </form>
          </div>
        </li>
      </ul>

    </section>

  </article>
</main>