<header class="header" data-header>
  <div class="container">
    <h1>
      <a href="#" class="logo">SrongVest</a>
    </h1>
    <button
      class="menu-toggle-btn icon-box"
      data-menu-toggle-btn
      aria-label="Toggle Menu"
    >
      <span class="material-symbols-rounded icon">menu</span>
    </button>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li>
            <a href="/users/dashboard" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">home</span>

              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/users/fund" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">add_card</span>

              <span>Fund</span>
            </a>
          </li>
          <li>
            <a href="/users/withdraw" class="navbar-link active icon-box">
              <span class="material-symbols-rounded icon">account_balance</span>

              <span>Withdraw</span>
            </a>
          </li>
          <li>
            <a href="/users/referral" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">group</span>

              <span>Referral</span>
            </a>
          </li>
          <li>
            <a href="/users/profile" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">person</span>

              <span>Profile</span>
            </a>
          </li>

          <li>
            <a href="/users/setting" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">settings</span>

              <span>Settings</span>
            </a>
          </li>

        </ul>

        <ul class="user-action-list">

          <li>
            <a href="#" class="header-profile">
              <div>
                <p class="profile-title">Alexander</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/users/logout" class="header-profile">
              <div>
                <p class="profile-title">logout</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<main>
  <article class="container article">

    <!-- 
        - #TASKS
      -->

    <section class="tasks">

      <div class="section-title-wrapper">
        <h2 class="section-title">Withdrawal</h2>
      </div>
      <ul class="class-list">
        <li class="task-item">
          <div class="card">
            <label for="task-1" class="task-label">
              Minimum Withdrawal
            </label>
            <div for="task-1" class="task-label">
              Available Amount
            </div>
            <br />
            <br />
            <p>Bitly Investment adopt the SSL (Secure Sockets Layer) network security protocol to guarantee a secure connection in all communications with our clients, protect customers during their transactions with the company and keep all customer information private</p>
            <br />
            <br />
            <form class="fund-form" action="">
              <div class="form-control">
                <input type="text" placeholder="Enter Amount" name="with_amount" />
              </div>
              <div class="form-control">
                <input
                  type="text"
                  placeholder="Enter withdrawal payment address"
                />
              </div>
              <button class="user-button">Withdraw</button>
            </form>
          </div>
        </li>
      </ul>

    </section>

  </article>
</main>