<header class="header" data-header>
  <div class="container">
    <h1>
      <a href="#" class="logo">SrongVest</a>
    </h1>
    <button
      class="menu-toggle-btn icon-box"
      data-menu-toggle-btn
      aria-label="Toggle Menu"
    >
      <span class="material-symbols-rounded icon">menu</span>
    </button>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li>
            <a href="/users/dashboard" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">grid_view</span>

              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/users/fund" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">folder</span>

              <span>Fund</span>
            </a>
          </li>
          <li>
            <a href="/users/withdraw" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">list</span>

              <span>Withdraw</span>
            </a>
          </li>
          <li>
            <a href="/users/referral" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">bar_chart</span>

              <span>Referral</span>
            </a>
          </li>
          <li>
            <a href="/users/profile" class="navbar-link active icon-box">
              <span class="material-symbols-rounded icon">settings</span>

              <span>Profile</span>
            </a>
          </li>

          <li>
            <a href="/users/setting" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">settings</span>

              <span>Settings</span>
            </a>
          </li>

        </ul>

        <ul class="user-action-list">

          <li>
            <a href="#" class="header-profile">
              <div>
                <p class="profile-title">Alexander</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/users/logout" class="header-profile">
              <div>
                <p class="profile-title">logout</p>
              </div>
            </a>
          </li>

        </ul>

      </div>
    </nav>

  </div>
</header>

<main>
  <article class="container article">

    <p class="article-subtitle">Profile</p>

    <!-- 
        - #HOME
      -->

    <section class="home prof-grid" style="width: 100%;">

      <div class="card profile-card" style="width: 100%;">
        <div class="profile-card-wrapper">
          <form class="fund-form" action="" style="width: 100%;">
            <div class="form-control" style="width: 100%;">
              <input
                type="text"
                placeholder="Enter Phone Number"
                name="phoneNumber"
              />
            </div>
            <div class="form-control" style="width: 100%;">
              <input
                type="text"
                placeholder="Enter Your Wallet Address e.g. Dogecoin, BNB"
                name="walletAdd"
              />
            </div>
            <div class="form-control" style="width: 100%;">
              <input
                type="text"
                placeholder="Enter Your Country"
                name="country"
              />
            </div>
            <div class="form-control" style="width: 100%;">
              <select name="" id="" style="width: 100%; padding: 10px; outline:none;">
                <option value="default">Select Plan</option>
                <option value="">Gold</option>
                <option value="">Promo</option>
                <option value="">Silver</option>
                <option value="">Broze</option>
              </select>
            </div>
            <button class="user-button">Submit</button>
          </form>

        </div>
      </div>

      <div class="card profile-card" style="width: 100%;">
        <p class="card-title">User Details</p>
        <div class="profile-card-wrapper">
          <ul>
            <li class="progress-item" style="width: 100%; margin-top:10px;">
              <div class="progress-label">
                <p class="progress-title">Name:</p>
                <data class="progress-data breaker">Ukwueze Alexander</data>
              </div>
            </li>
            <li class="progress-item" style="width: 100%; margin-top:10px;">
              <div class="progress-label">
                <p class="progress-title">Phone Number:</p>
                <data class="progress-data breaker">0902348127912</data>
              </div>
            </li>
            <li class="progress-item" style="width: 100%; margin-top:10px;">
              <div class="progress-label start">
                <p class="progress-title">Wallet ID:</p>
                <data
                  class="progress-data breaker"
                  style="word-wrap:break-all;"
                >0902vvihcyouo7doutdtdy97is57s975s75s9s975sdo6do68sdo7tdo86d7d5s5s86s76sd967d967d96d9d67975d9s5ss7595348127912</data>
              </div>
            </li>
            <li class="progress-item" style="width: 100%; margin-top:10px;">
              <div class="progress-label">
                <p class="progress-title">Country:</p>
                <data class="progress-data breaker">Nigeria</data>
              </div>
            </li>
            <li class="progress-item" style="width: 100%; margin-top:10px;">
              <div class="progress-label">
                <p class="progress-title">Active Plan:</p>
                <data class="progress-data breaker">Unset</data>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </section>
  </article>
</main>