@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --bg: #272343;
    --primary-color: #ffd803;
    --sec-color: #007bff;
    --dark-bg: #0b0e11;
  }

  .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  * {
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
  }
  
  .btn {
    padding: 7px 25px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    background-color: var(--blue);
    border: 1px var(--blue) solid;
    cursor: pointer;
  }
  
  .btn-block {
    width: 100%;
    display: block;
    text-align: center;
  }

  header {
    padding: 7px 0;
    background-color: var(--gray-dark);
  }
  
  header .container {
    justify-content: space-between;
  }
  
  .branding {
    padding: 0 5px;
    background-color: transparent;
    width: 50%;
  }
  
  .logo {
    width: 35px;
    height: 35px;
  }
  
  .logo img {
    width: 100%;
    height: 100%;
  }
  
  .brand h1 {
    margin-left: 20px;
    color: var(--primary-color);
    font-weight: 700;
  }
  
  header li {
    list-style: none;
    display: inline;
    padding-left: 17px;
  }
  
  header a {
    color: hsla(0, 0%, 100%, 0.5);
  }
  
  .mobile, .mobile-menu {
    display: none;
  }