

body {
  background-color: var(--dark-bg);
  font-size: 14px;
}



/* LANDING */
.landing {
  height: 93vh;
  margin: 0 auto;
}

.case {
  margin: 0 auto;
  justify-content: space-between;
  padding: 70px 0;
}

.landing-text {
  width: 50%;
}

.landing-text h3 {
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.1;
  word-spacing: 3px;
  font-weight: 500;
}

.landing-text p {
  color: #fff;
  word-spacing: 2px;
  margin-top: 10px;
}

.land-link {
  margin-top: 30px;
}

.land-link a {
  font-size: 17px;
  margin-right: 10px;
  background-color: var(--blue);
  border: 1px var(--blue) solid;
}

.landing-img {
  width: 40%;
}

.landing-img img {
  width: 100%;
}

/* CRYPTO PRICES */
.crypto {
  background-color: var(--light);
}

.crypto .container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.crypto h3 {
  margin-top: 40px; text-align: left; font-size:2.5rem;
}

#market {
  width: 100%;
  border-spacing: 20px;
}


td, th {
  text-align: left;
  padding-left: 12px;
}

td {
  font-weight: 700;
}

td h4 {
  font-weight: 700;
}

td h5 {
  font-weight: 300;
  font-size: 12px;
}

#market img{
  width: 45px;
  height: 45px;
  margin-right: 10px;
}


/* ABOUT */
.about {
  position: relative;
}

.about .container {
  text-align: center;
  padding: 50px 0;
  color: #fff;
  font-weight: 500;
}

.about-head {
  font-size: 22px;
  margin: 10px 0;
  color: var(--primary-color);
}

.about-body {
  margin: 10px 0;
}

.about-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.abt {
  flex: 1;
  padding: 20px 45px;
}

.abt-img {
  width: 55px;
  height: 50px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 37px;
  margin: 12px auto;
}

.abt-img i {
  font-size: 19px;
  align-self: center;
  margin: 0 auto;
}

.abt h3 {
  font-size: 16px;
  font-weight: 200;
  color: var(--primary-color);
  margin: 5px 0;
}

.abt-text {
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
}


/* FAQS */
.faqs {
  background-color: var(--light);
}
.faqs .container {
  text-align: center;
  padding: 50px 0;
  color: var(--grey-dark);
  font-weight: 500;
}

.faq-head {
  font-size: 22px;
  margin: 10px 0;
  color: var(--primary-color);
}

.faq-body {
  margin: 10px 0;
  justify-content: center;
  flex-direction: column;
}

.faq {
  width: 100%;
  border: 1px solid var(--dark-bg);
  font-size: 15px;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 10px;
}

.faq  .flex {
  justify-content: space-between;
  font-weight: 700;
}

.faq button {
  border-radius: 100%;
  background-color: rgba(52, 58, 64, 0.1);
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
}

.faq-text {
  text-align: justify;
  margin-top: 7px;
}

/* MIN FOOT */
.min-foot {
  background-color: var(--gray-dark);
}
.min-foot .container {
  color: #fff;
  padding: 40px 0;
  justify-content: space-between;
}

.min-foot p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.min-foot .container .flex {
  align-items: flex-start;
  justify-content: space-between;
  width: 370px;
}

.min-foot h5 {
  font-size: 16px;
  padding: 15px 0;
  color: var(--primary-color);
  text-transform: uppercase;
}

.min-foot li {
  list-style: none;
  margin: 10px 0;
}

.min-foot a {
  font-size: 13px;
  color: #fff;
}


.form-container {
  max-width: 450px;
  padding: 20px 0;
}

.form-container h2 {
  color: var(--primary-color);
  font-size: 1.7rem;
  margin-bottom: 12px;
}

.form-group {
  margin: 10px 0;
  width: 100%;
}

.form-group label {
  font-weight: 500;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 5px 0 5px 2px;
  margin-top: 5px;
  outline: none;
}

.form {
  background-color: var(--light);
  min-height: 88vh;
}

.button {
  margin: 15px 0 25px 0;
}

.form p {
  text-align: center;
}

/* FOOTER */

footer {
  padding: 10px 10px 10px 0;
  color: var(--light);
}

footer .flex {
  justify-content: space-between;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .nav, .landing-img, #open-menu{
    display: none;
  }

  .mobile {
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 300px;
    margin-left: -300px;
    z-index: 10;
    background-color: var(--dark-bg);
    position: fixed;
    transition: ease-in-out 0.5s;
  }

  .mobile ul li {
   display: block;
   margin: 30px;
   font-size: 20px;
  }

  .about-main {
    grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 40px;
  }

  .mobile-menu {
    margin-right: 15px;
    display: block;
  }

  .mobile-menu i {
    font-size: 35px;
    color: var(--primary-color);
  }

  .landing-text, .crypto h3 {
    width: 100%;
    text-align: center;
  }

  .landing-text h3 {
    margin-bottom: 30px;
  }

  .faq {
    width: 97%;
  }

  .min-foot .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .min-foot .container div:first-child {
    margin-left: 20px;
  }

  .min-foot .first-child{
    margin-bottom: 20px;
  }

  td, th {
    font-size: 12px;
  }

  .form-container {
    padding: inherit 15px;
  }

}

/* Mobile */
@media only screen and (max-width: 400px) {



  .form-container {
    padding: inherit 30px;
  }

}