{{> _header}}

<main class="landing">
  <div class="container flex">
    <div class="case flex">
      <div class="landing-text">
        <h3>Be Calm about your <br />crypto assets</h3>
        <p>
          The best way to receive, send and trade <br />
          crypto currencies
        </p>
        <div class="land-link">
          <a href="/users/register" class="btn">Get Started</a>
        </div>
      </div>
      <div class="landing-img">
        <img src="/img/landing-img.png" alt="" />
      </div>
    </div>
  </div>
</main>

<section class="crypto">
  <div class="container">
    <h3 style="">Market</h3>
    <table id="market">
      <tr>
        <th>USDT Market</th>
        <th>Price</th>
        <th>Change (24h)</th>
      </tr>
    </table>
  </div>
</section>

{{!-- ABOUT --}}
<section class="about" id="about">
  <div class="container">
    <div class="about-head">
      <h3>SrongVest is the most Advanced Cryptocurrency Investment Platform</h3>
    </div>
    <div class="about-body">
      <div class="about-main">
        <div class="abt">
          <div class="abt-img flex">
            <i class="far fa-times-circle"></i>
          </div>
          <h3>Extra Low Trading Fees</h3>
          <p class="abt-text">
            Extra Low Trading Fees Exchange with extra low fees, keep all your
            profit
          </p>
        </div>

        <div class="abt">
          <div class="abt-img flex">
            <i class="fas fa-funnel-dollar"></i>
          </div>
          <h3>Custody Protection Guaranteed</h3>
          <p class="abt-text">
            Asset funds are kept in our cold storage custody solution preventing
            any malicious hacks
          </p>
        </div>

        <div class="abt">
          <div class="abt-img flex">
            <i class="fas fa-balance-scale"></i>
          </div>
          <h3>Quicker than NASDAQ</h3>
          <p class="abt-text">
            Our project has the Current world's fastest trade engine capable of
            75,000 transactions per second
          </p>
        </div>
      
        <div class="abt">
          <div class="abt-img flex">
            <i class="far fa-address-card"></i>
          </div>
          <h3>Privacy Info Standards</h3>
          <p class="abt-text">
            Your information is secured with AUSTRAC inline with AML policy
          </p>
        </div>

        <div class="abt">
          <div class="abt-img flex">
            <i class="far fa-clock"></i>
          </div>
          <h3>24/7 Access</h3>
          <p class="abt-text">
            Reliable 100% up-time with around the clock account access to all
            asset trading and balances
          </p>
        </div>
        
        <div class="abt">
          <div class="abt-img flex">
            <i class="far fa-star"></i>
          </div>
          <h3>Trusted by Industry Experts</h3>
          <p class="abt-text">
            State of the art infrastructure with SHA-384 layer encryption and
            multi server cross-referencing
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- FAQS --}}
<section class="faqs" id="faqs">
  <div class="container">
    <div class="faq-head">
      <h3>Frequently Asked Questions</h3>
    </div>
    <div class="faq-body flex">
      <div class="faq">
        <div class="flex">
          <p>Who can join SrongVest</p>
          <button id="">
            <i id="close" class="fa fa-chevron-down" aria-hidden="true"></i>
            <i id="open" class="fa fa-chevron-up" aria-hidden="true"></i>
          </button>
        </div>
        <div class="faq-text" id="faq-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, perspiciatis.</p>
        </div>
      </div>
      <div class="faq">
        <div class="flex">
          <p>How much can i earn</p>
          <button id="">
            <i id="close1" class="fa fa-chevron-down" aria-hidden="true"></i>
            <i id="open1" class="fa fa-chevron-up" aria-hidden="true"></i>
          </button>
        </div>
        <div class="faq-text" id="faq-text1">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus in quibusdam, minima iure quam rem ducimus reiciendis? Iure, quisquam odio!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="min-foot">
  <div class="container flex">
    <div class="first-child">
      <p>Join the largest financial <br>platform of the year</p>
      <div class="land-link">
          <a href="users/register" class="btn">Register for free!</a>
        </div>
    </div>
    <div class="flex">
      <div>
        <h5>Contact Us</h5>
        <ul>
          <li><a href="mailto:lextechspec@gmail.com">contact@srongvest.com</a></li>
          <li><a href="tel:+2347043696226">+234 704 369 6336</a></li>
          <li>42 Sea Man Way <br> Badagary Express Way <br>Lagos</li>
        </ul>
      </div>
      <div>
        <h5>explore</h5>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#faqs">FAQs</a></li>
          <li><a href="/users/login">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{{> _footer}}

<script src="/js/crypto.js"></script>
<script src="/js/main.js"></script>
