{{> _header}}
<section class="form">
    <div class="container form-container">
        <h2>Sign up to SrongVest</h2>
        <form action="/users/login" method="POST">
            <div class="form-group">
                <label for="First name">First Name</label>
                <input type="text" name="firstname">
            </div>
            <div class="form-group">
                <label for="Last name">Last Name</label>
                <input type="text" name="lastname">
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" name="email">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" name="password">
            </div>
            <div class="form-group">
                <label for="Repeat Password">Repeat Password</label>
                <input type="password" name="password2">
            </div>
            <div class="">
                <input type="checkbox" name="check">
                <span>I agree to SrongVest <a href="">Terms and Conditions</a></span>
            </div>
            <div class="form-group button">
                <button class="btn btn-block">Create Account</button>
            </div>
        </form>
        <hr>	
        <p style="font-size: 15px; background-color: #fff; width: 25px; margin: 0 auto; margin-top: -11px; ">OR</p>
        <div class="form-group button">
            <a href="" class="btn btn-block" style="margin-bottom: 40px;">Sign up with Google</a>
        </div>

        <p>Already have an account? <a href="/users/login">Login</a></p>
    </div>

</section>
{{> _footer}}